@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --tran-03: all ease 0.2s ease ;
    --tran-03: all ease 0.3s ease ;
    --tran-04: all ease 0.4s ease ;
    --tran-05: all ease 0.5s ease ;
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    min-width: 100%;
    background-color: #E4E9F7;
}
.home-page img{
    width: 100%;
    background-position: fixed;
    background-size: cover;
}

/* Navigation Bar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 250px;
    padding: 10px 14px;
    background: #FFF;
    transition: all 0.4s ease;
    z-index: 9999;
}
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: all 0.4s ease;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close{
    width: 50px
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}
.sidebar .image-text img{
    width: 50px;
    height: 50px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar .logo{
    margin-top: 40px;
    min-width: 65px;
    display: flex;
    align-items: center;
}
header .image-text .header-text{
    margin-top: 40px;
    display: flex;
    flex-direction: column; 
}
.header-text{
    color: #707070;
}
.header-text .name{
    font-size: 25px;
    font-weight: 600;
}
.header-text .sub-name{
    margin-top: -5px;
    font-size: 14px;
    font-weight: 400;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transition:var(--tran-03);
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    font-size: 12px;
    margin-top: 20px;
    color: #fff;
    background: linear-gradient(to right, #ff342f, #A54DFF);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar.close header .toggle{
    transform: translateY(-50%);
}

.sidebar .menu-bar{
    margin-top: 50px;
}
.sidebar li{
    height: 50px;
    color: #fff;
    margin-top: 10px;
    align-items: center;
}
.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: #000;
    border-radius: 6px;
    transition: all 0.4s ease;
}
.sidebar li a:hover{
    background: linear-gradient(to right, #ff342f, #A54DFF); 
}
.sidebar li .icon{
    padding-left: 12px;
    padding-right: 12px;
    min-width: 60px;
    font-size: 25px;
    color: #000;
}
.sidebar li .icon,
.sidebar li .text{
    color: #707070;
    transition: all 0.2s ease;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: #fff
}

/* About Section */
section .about-section{
    background: #111;
    width: 100%;
    height: auto;
    margin-left: 180px;
}
.line1
{
    float: none;
    border-top: 4px solid white;
    width: 100%;
    justify-content: center;
    visibility: hidden;
}
.about-title{
    font-size: 50px;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
    text-shadow: 1px 1px 2px gray;
}
.about-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-container .box{
    float: left;
    position: relative;
    width: 500px;
    height: auto;
    margin: 55px 20px 80px 80px;
    box-shadow: 20px 40px 45px rgba(0,0,0,0.1);
    z-index: -1;
}
.about-container .box h3{
    position: relative;
    font-size: 32px;
    z-index: 2;
    padding: 40px 20px 10px 20px;
}
.about-container .box p{
    position: relative;
    font-size: 14px;
    padding: 5px 20px 20px 20px
}


/* Footer */
footer{
    width: auto;
    height: auto;
    position: relative;
    background: #111;
    z-index: 0;
    padding-top: 100px;
    margin-left: 80px;
}
.footer-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-container .box{
    float: left;
    position: relative;
    height: 300px;
    width: 310px;
    margin: 20px 0 50px 80px;
    justify-content: center;
}
.footer-container h3{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #eee;
    margin-top: 20px;
}
.footer-about .about-us{
    color: #eee;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 200;
}
.footer-social{
    list-style: none;
    display: flex; 
}
.footer-social li{
    margin: 20px 20px 0 0;
    text-decoration: none;
}
.footer-social li a{
    padding: 2px;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 28px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 30px;
}
.footer-social li a:hover{
    color: #fff;
}
.footer-contact .contact{
    margin-top: 30px;
}
.footer-contact p{
    margin-bottom: 15px;
    color: #eee;
    font-size: 14px;
}
.footer-contact .icon{
    font-size:16px;
    margin-right: 20px;
}
.footer-links .links{
    margin-top: 30px;
}
.footer-links .icon{
    font-size:16px;
    margin-right: 20px;
}
.footer-links .links li{
    margin-bottom: 15px;
    font-size: 14px;
    list-style: none;
}
.footer-links .links li a{
    text-decoration: none;
    color: #fff;
}

.footer-line{
    background: #fff;
}
.footer-logo{
    margin: 70px 0 20px 0;
}
.footer-copyright{
    color: #fff;
    font-weight: 300;
}
/* Project CSS */
.project-section{
    position: relative;
    width: 100%;
    height: 768px;
    background-color: #FFF;    
    
}
.project-header{
    background-color: #766C5F;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5rem;
    
}
.project-header h1{
    position: relative;
    top: 23px;
    left: 4rem;
}
.project-header button{
    position: relative;
    left: 20rem;
    top: 20px;
    border-radius: 1rem;
    border-color: #eee;
    cursor: pointer;
    height: 2.5rem;
}
.quiz-form{
    top: 5rem;
    position: relative;
    left: 10rem;
}
.quiz-form input{
    position: absolute;
    left: 12rem;
    width: 300px;
    height: 30px;
}
.quiz-form div{
    margin-top: 30px;
}
div>input{
    width: 600px;
}
.add-btn{
    position: relative;
}
.save-btn{
    position: relative;
    margin-left: 2rem ;
}
.save-add_container{
    top: 30px;
    position: relative;
    margin-left: 35rem;
}
.list-of-questions{
    position: relative;
    top: 10rem;
    left: 10rem;
}
.list-of-questions ul{
    list-style: none;
}
.list-of-questions ul li{
    position: relative;
    width: 600px;
    background-color: wheat;
    line-height: 40px;
    margin: 5px 0;
}
.list-of-questions ul li span{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    background-color: #ff342f;
}