@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --tran-03: all ease 0.2s ease ;
    --tran-03: all ease 0.3s ease ;
    --tran-04: all ease 0.4s ease ;
    --tran-05: all ease 0.5s ease ;
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    min-width: 100%;
    background-color: #E4E9F7;
}
.home-section{
    width: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 79.5px;
}
.home-section img{
    width: 100%;
    background-size: cover;
}
.home-page{
    position: absolute;
    background: #fff;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.231);
}
.home-page h2{
    position: relative;
    font-size: 11vw;
    color: #E4E9F7;
    -webkit-text-stroke: 0.3vw #fff;
}
.home-page h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: -webkit-linear-gradient(#ff342f, #A54DFF); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0vw #fff;
    border-right: 20px solid #000;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%,20%,100%{
        width: 0;
    }
    60%,80%{
        width: 100%;
    }
}


/* Navigation Bar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 250px;
    padding: 10px 14px;
    background: #fff;
    transition: all 0.4s ease;
    z-index: 9999;
}
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: all 0.4s ease;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close{
    width: 50px
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}
.sidebar .image-text img{
    width: 50px;
    height: 50px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar .logo{
    margin-top: 55px;
    min-width: 65px;
    display: flex;
    align-items: center;
}
header .image-text .header-text{
    margin-top: 50px;
    display: flex;
    flex-direction: column; 
}
.header-text{
    color: #707070;
}
.header-text .name{
    font-size: 25px;
    font-weight: 600;
}
.header-text .sub-name{
    margin-top: -5px;
    font-size: 14px;
    font-weight: 400;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transition:var(--tran-03);
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    font-size: 12px;
    margin-top: -10px;
    color: #fff;
    background: linear-gradient(to right, #ff342f, #A54DFF);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar.close header .toggle{
    transform: translateY(-50%);
}
.sidebar .menu-bar{
    margin-top: 50px;
}
.sidebar li{
    height: 50px;
    color: #fff;
    margin-bottom: 30px;
    align-items: center;
}
.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: #000;
    border-radius: 6px;
    transition: all 0.4s ease;
}
.sidebar li a:hover{
    background: linear-gradient(to right, #ff342f, #A54DFF); 
}
.sidebar li .icon{
    padding-left: 12px;
    padding-right: 12px;
    min-width: 60px;
    font-size: 25px;
    color: #000;
}
.sidebar li .icon,
.sidebar li .text{
    color: #707070;
    transition: all 0.2s ease;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: #fff
}


/* About Section */
.about-section{
    width: auto;
    height: auto;
    margin-left: 50px;
}
.line1
{
    float: none;
    border-top: 4px solid white;
    width: 100%;
    justify-content: center;
    visibility: hidden;
}
.about-title{
    font-size: 50px;
    font-weight: 700;
    margin: 50px 20px 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px gray;
}
.about-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-container .box{
    float: left;
    position: relative;
    width: 500px;
    height: auto;
    margin: 50px 20px 80px 50px;
    padding: 5px;
}
.about-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-container .box h3{
    position: relative;
    font-size: 32px;
    padding: 40px 5px 10px 5px;
}
.about-container .box p{
    position: relative;
    font-size: 14px;
    padding: 5px 5px 10px 5px
}
.about-container .box .create{
    margin-top: 10px;
    width: 120px;
    font-size: 14px;
    background: none;
    border: 2px solid #111;
    border-radius: 15px;
    padding: 10px;
}
.about-container .box a{
    color: #000;
    text-decoration: none;
}
.about-container .box .create .icon{
    margin-right: 10px;
}
.about-container .box .create:hover{
    background: -webkit-linear-gradient(#ff342f, #A54DFF); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Project CSS */
.project-section{
    background: #E4E9F7;
    width: auto;
    position: relative;
    margin-left: 79.5px;
    height: 200vh;
}
.project-section img{
    width: 100%;
    height: auto;
    margin-top: -180px;
    background-size: cover;
}
.project-header{
    background-color: #111;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 7.5rem;
}
.project-header h3{
    position: relative;
    top: 30px;
    font-size: 40px;
    background: -webkit-linear-gradient(#ff342f, #A54DFF); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.quiz-wrap{
    position: relative;
    top: 3rem;
    left: 2rem;
    height: 50px;
    width: 200px;
    border-radius: 1rem;
    box-shadow: 0 20px 30px rgba(0,0,0,0.15);
    background: linear-gradient(to right, #ff342f, #A54DFF); 
}
.quiz-wrap h3{
    color: #fff;
    padding-top: 7px;
    font-weight: 400;
    text-align: center;
}
.quiz-wrap span{
    color: #fff;
    font-size: 25px;
    margin-left: 15px;
}
.add-btn{
    text-decoration: none;
    cursor: pointer;
}
/* Class for creating new div and input when create button is trigger*/
.create-div{
    top: 80px;
    min-height: 30vh;
    left: 2rem;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.15);
}
.create-div{
    float: left;
    position: relative;
    height: auto;
    width: auto;
    margin: 20px 10px 20px 0;
    padding: 10px;
}
.input-title{
    position: relative;
    margin-top: 2rem;
    margin-left: 50px;
}
.delete{
    text-decoration: none;
    display: inline-block;
    background-color: red;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.add-question-btn{
    position: relative;
    left: -168px;
    font-size: 11px;
    top: 2rem;
    padding: 2px 4px 2px 4px;
    font-weight: 300;
    border: solid #FEFFED;
    background: none;
    letter-spacing: 1px;
    border-radius: 10px;
    border-style: ridge;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease;
}
.add-question-btn:hover{
    border: #fff;
    color: #fff;
    background: -webkit-linear-gradient(#ff342f, #A54DFF); 
}   
.question_box{
    width: 200px;
}
.question-list{
    position: relative;
    list-style: none;
    margin-top: 2px;
    left: 50px;
    top: 35px
}


/* Footer */
footer{
    width: auto;
    height: auto;
    position: relative;
    background: #111;
    padding-top: 100px;
    margin-left: 80px;
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer-container .box{
    float: left;
    position: relative;
    height: auto;
    width: 250px;
    margin: 20px 0 20px 0;
    padding: 20px;
}
.footer-container h3{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #eee;
    margin-top: 20px;
}
.footer-container h3::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #eeeeee;
}  
.footer-about .about-us{
    color: #eee;
    margin-top: 30px;
    font-size: 12px;
    font-weight: 200;

}
.footer-social{
    list-style: none;
    display: flex; 
    transition: all 0.4s ease;
}
.footer-social li{
    margin: 10px 10px 0 0;
    text-decoration: none;
}
.footer-social li a{
    padding: 2px;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 30px;
}
.footer-social li a:hover{
    background: linear-gradient(to right, #ff342f, #A54DFF); 
}
.footer-contact .contact{
    margin-top: 30px;
}
.footer-contact p{
    margin-bottom: 15px;
    color: #eee;
    font-size: 14px;
}
.footer-contact .icon{
    font-size:16px;
    margin-right: 20px;
}
.footer-links ul{
    margin-top: 30px;
}
.footer-links .icon{
    font-size:16px;
    margin-right: 20px;
}
.footer-links ul li{
    margin-bottom: 15px;
    font-size: 14px;
    list-style: none;
    transition: all 0.2s ease;
}
.footer-links ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-links li a:hover{
    background: -webkit-linear-gradient(#ff342f, #A54DFF); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-line{
    margin-top: 20px;
    background: #fff;
    opacity: 50%;
}
.footer-logo{
    margin: 70px 0 20px 0;
}
.footer-copyright{
    color: #fff;
    font-weight: 300;
    margin-top: 40px;
}
.bottom-line{
    margin-top: 50px;
    visibility: hidden;
}